<ion-header>
  <ion-navbar>
    <ion-title>
      My spots
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <b>All your spots are listed here. You can click a spot if you want to set it available</b>
    <br>
    <ion-item *ngFor="let spot of mySpots" (click)="spotClicked(spot)">
      <h2>{{spot.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
