<ion-menu [content]="content">
  <ion-content >
    <ion-list class="menuList">
      <ion-item [navPush]="spotsPage">My spots</ion-item>
      <ion-item [navPush]="aboutPage">About</ion-item>
      <ion-item (click)="logOut()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only >
      <ion-icon name='menu' color="#CFD8DC"></ion-icon>
    </button>
    <ion-title>
      <p>ParkLUT</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div #map id="map"></div>
</ion-content>
