<ion-header>
  <ion-navbar>
    <ion-title>
      Login page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="centered">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="credentials.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
    </ion-item>

    <div padding>
      <button ion-button full (click)="login()">Login</button>
    </div>
    <div padding>
      <button ion-button full (click)="register()">Register</button>
    </div>
  </div>
</ion-content>
