.login-page {
  overflow: hidden;

  .scroll-bar-indicator {
    display: none;
  }

  .centered {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


