<ion-header>
  <ion-navbar>
    <ion-title>
      Parking area: {{parkingArea.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Free
    </ion-list-header>
    <ion-item *ngFor="let spot of freeSpots" (click)="spotClicked(spot)">
      <h2 style="color: #4CAF50">{{spot.name}}</h2>
      <p>Free whole day</p>
    </ion-item>
    <ion-list-header>
      Reserved
    </ion-list-header>
    <ion-item *ngFor="let spot of reservedSpots">
      <h2 style="color: #FF5252">{{spot.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
