<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      ParkLUT
    </ion-card-header>

    <ion-card-content>
      All rights reserved 2016
    </ion-card-content>

  </ion-card>
</ion-content>
