<ion-header>
  <ion-navbar>
    <ion-title>
      Offer a spot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Parking spot: {{parkingSpot.name}}
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Mark spot as free on date:</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" min="{{today}}" max="2017" [(ngModel)]="startDate"></ion-datetime>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-item>
      </ion-item>
    </ion-card-content>

    <div padding text-center>
      <button ion-button navPop>Cancel</button>
      <button ion-button (click)="showAlert()">Confirm</button>
    </div>

  </ion-card>
  <ion-list>
    <ion-list-header>Spot free on dates:</ion-list-header>
    <ion-item *ngFor="let date of parkingSpot.freeDates">
      <ion-label>{{date | amDateFormat: 'DD-MM-YYYY'}}</ion-label>
      <button ion-button color="danger" clear icon-only item-right (click)="deleteFreeDate(date)">
        <ion-icon name='trash'></ion-icon>
      </button>
    </ion-item>

  </ion-list>
</ion-content>
