<ion-header>
  <ion-navbar>
    <ion-title>
      Rent a spot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Parking spot: {{parkingSpot.name}}
    </ion-card-header>

    <!--<ion-card-content>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start of reservation</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="myTime"></ion-datetime>
      </ion-item>
    </ion-card-content>-->

    <ion-card-content>
      Use the slider to indicate in minutes how long you are reserving the parking spot for
      <ion-item>
        <ion-label text-center>{{timeNow | amDateFormat:'HH:mm'}} - {{endTime | amDateFormat:'HH:mm'}}</ion-label>
        <ion-range (ionChange)="onChange()" min={{minValue}} max={{maxValue}} step="5" snaps="true"
                   [(ngModel)]="sliderValue"
                   color="danger" pin="true">
          <ion-label range-left>{{minValue}}</ion-label>
          <ion-label range-right>{{maxValue}}</ion-label>
        </ion-range>
      </ion-item>
    </ion-card-content>

    <div padding text-center>
      <button ion-button navPop>Cancel</button>
      <button ion-button (click)="confirmClicked()">Confirm</button>
    </div>

  </ion-card>
</ion-content>
